@import './variable';

.forgot-password__container {
  max-width: 50rem;
  margin-inline: auto;

  margin-top: $larger--space;
}

.signup--btn {
  background-color: $darker--shade;
  border-radius: 50px;

  padding-block: $largest--medium__space;

  margin-inline: auto;
  margin-block: $larger--medium__space;

  &:hover {
    cursor: pointer;
    background-color: $slighter--darker__shade;

    p {
      color: #999999;
    }
  }

  img {
    width: 2.2rem;
    height: 2.2rem;
    margin: auto;

    animation: spin 2s linear infinite;
  }
}

.change--password__page {
  display: flex;
  max-height: 100vh;

  .check--password__container {
    margin-inline: auto;
    margin-top: $extra--space;
    width: 50%;
  }
}

.pin--entry__container {
  margin-block: $largest--medium__space;

  p {
    margin-block: $small--space;
  }

  input {
    outline: none;
    width: 100%;
    font-size: $medium--font;
    font-family: 'Lato', sans-serif;

    border-radius: 20px;
    border-color: #e0e0e0;
    border-width: 2px;

    padding-block: $medium--space;
    padding-inline: $largest--medium__space;

    &:focus {
      border-color: $darkest--shade;
    }
  }

  .error--message {
    color: #ff9999;
    font-size: $small--font;
    font-weight: 900;
  }

  .password--icon {
    width: 2rem;
    height: 2rem;
    position: absolute;

    right: 2rem;
  }
}

.success--form {
  color: #0abd0a;
}

.error--form {
  color: #f57373;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// * MEDIA QUERIES //
// * below 1200px //
@media (max-width: 75em) {
  .forgot-password__container {
    max-width: 80rem;
  }
}

// * below 768px //
@media (max-width: 48em) {
  .forgot-password__container {
    max-width: 80vw;
  }

  .change--password__page {
    flex-direction: column;
    .check--password__container {
      width: 80vw;
    }
  }
}

// * below 500px //
@media (max-width: 32em) {
  .forgot-password__container {
    max-width: 90vw;
  }

  .change--password__page {
    .check--password__container {
      width: 90vw;
    }
  }
}
