@import './variable';

.forgot-password__container {
  max-width: 50rem;
  margin-inline: auto;

  margin-top: $larger--space;
}

.signup--btn {
  background-color: $darker--shade;
  border-radius: 50px;

  padding-block: $largest--medium__space;

  margin-inline: auto;
  margin-block: $larger--medium__space;

  &:hover {
    cursor: pointer;
    background-color: $slighter--darker__shade;

    p {
      color: #999999;
    }
  }

  img {
    width: 2.2rem;
    height: 2.2rem;
    margin: auto;

    animation: spin 2s linear infinite;
  }
}

.change--password__page {
  display: flex;
  max-height: 100vh;

  .check--password__container {
    margin-inline: auto;
    margin-top: $extra--space;
    width: 50%;
  }
}

.success--form {
  color: #0abd0a;
}

.error--form {
  color: #f57373;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// * MEDIA QUERIES //
// * below 1200px //
@media (max-width: 75em) {
  .forgot-password__container {
    max-width: 80rem;
  }
}

// * below 700px //
@media (max-width: 44em) {
  .forgot-password__container {
    max-width: 80vw;
  }
}

// * below 500px //
@media (max-width: 32em) {
  .forgot-password__container {
    max-width: 90vw;
  }
}
